.clubForm {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 45px;

  .skeletonBtnWrap {
    justify-content: flex-end;
    display: flex;
  }

  .clubBtnWrap {
    display: flex;
    padding-top: 10px;
    justify-content: flex-end;

    button {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .clubInpWrap {
    margin-bottom: 10px;
    input {
      width: 100%;
      border: 0;
      border-bottom: 1px solid black;
      padding: 5px 15px 5px 0;
      outline: none;
    }
  }
}
